{% extends 'home/base.html' %}
{% block title %}
    Home
{% endblock %}

{% block homeblock %}
    active
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
<div class="card">
  <!-- <img src="..." class="card-img-top" alt="..."> -->

  <div class="card-body">
    <h5 class="card-title">Welcome to Home</h5>
    <p class="card-text">Explore blogs of all categories available!</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
</div>
    
{% endblock %}